body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #1f454c;
}

header {
  align-items: center;
  background-color: #1f344c;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

/* Game cards */
.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gameCard {
  margin: 1rem;
  position: relative;
}

.toFilter:hover > .cardbody {
  filter: brightness(40%);
  transition: all 0.3s ease;
}

.gameImage {
  border-radius: 0.2rem;
  max-width: 100%;
  width: 400px;
}

.cardFooter {
  background-color: #f1654c;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

.cardFooter h3,
p {
  margin: 0.5rem;
}

/* Reviews */
.dialog-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #9db8d7;
}

.close-button {
  color: grey;
  margin-right: 0.3rem;
}

.review-button {
  position: absolute;
  top: 10em;
  left: 7em;
}

#review-content {
  color: #383838;
  font-size: 1.07rem;
  line-height: 2rem;
}

.MuiButton-containedSizeLarge {
  padding: 1rem 2rem !important;
  font-size: 2rem !important;
  border-radius: 1rem !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.suggest-container {
  margin: 0 0.2rem;
}

/* Rating scores */
.rating-main {
  font-weight: bold;
  background-color: #6f392f;
  padding: 0.3rem;
  border-radius: 5px;
}

.rating {
  position: absolute;
  padding: 0.3rem 0.5rem;
  background-color: #687a8f;
  border-radius: 5px;
  right: 7rem;
  top: 0.8rem;
}

.green {
  color: greenyellow;
}
.orange {
  color: orange;
}
.red {
  color: red;
}

/* Media Breakpoints */
@media only screen and (min-width: 1670px) {
  .gameImage {
    width: 500px;
  }

  .review-button {
    top: 14rem;
    left: 10rem;
  }
}

@media only screen and (max-width: 970px) {
  header {
    align-items: center;
    padding: 1rem;
    flex-direction: column;
  }

  header h1,
  h2 {
    text-align: center;
    margin-top: 0.2rem;
  }
}

@media only screen and (max-width: 663.95px) {
  .gameImage {
    width: 500px;
  }

  .review-button {
    top: 13rem;
    left: 10rem;
  }
}

@media only screen and (max-width: 507.95px) {
  .review-button {
    left: 9rem;
  }

  .rating {
    right: 3rem;
  }
}

@media only screen and (max-width: 428px) {
  .review-button {
    left: 6.5rem;
    top: 10rem;
  }

  #review-title {
    flex: auto;
  }

  .rating {
    visibility: hidden;
  }
}

@media only screen and (max-width: 390px) {
  .review-button {
    left: 6rem;
    top: 9rem;
  }

  #review-content {
    line-height: 1.6rem;
    font-size: 1.2rem;
  }

  .gameTitle {
    font-size: 1.1rem;
  }
}
