body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #1f454c;
}

header {
  align-items: center;
  background-color: #1f344c;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
}

.gameCard {
  margin: 1rem;
  position: relative;
}

.toGrey:hover {
  filter: brightness(60%);
  transition: all 0.3s ease;
}

.gameImage {
  border-radius: 0.2rem;
  max-width: 100%;
  width: 400px;
}

.cardFooter {
  background-color: #f1654c;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

.cardFooter h3,
p {
  margin: 0.5rem;
}

.dialog-top {
  display: flex;
  justify-content: space-between;
}
.close-button {
  color: grey;
  margin-right: 0.3rem;
}

.review-button {
  position: absolute;
  top: 15em;
  left: 10em;
}
